
<div class="col">
	<div class="card" style="max-width: 600px">
		<img src="@Film.Thumbnail" class="card-img-top" alt="FilmPoster">
	</div>
</div>


@code {
	[Parameter] public FilmDTO Film { get; set; }
}