<div class="card rounded-0 m-2 " style="max-width:350px;">
	<div class="card-body">
		<h1 class="card-title">@Film.Title</h1>
		<p class="card-text">@Film.Description</p>
		<a class="btn btn-danger rounded-0 mb-1" href="VideoPlayer/@Film.Id">
			<i class="oi oi-media-play"></i><span class="vertical-align">Play Film!</span>
		</a>

	</div>
</div>

@code {
	[Parameter] public FilmDTO Film { get; set; }	
}